@charset "UTF-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic);

body{ 
	padding:0;
	margin:0;
	padding-bottom:40px;
	font-family:'Source Sans Pro', Arial, sans-serif;
}

header {
	background-image:url(/common/images/yoga-back.jpg);
	background-position:top center;
	background-size:cover;
	width:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
}

header img {
	margin: 0 auto;
	width:auto;
	max-width:100%;
	height:auto;
	display:block;
}
h1.headerNeg {
	font-family: Oswald, sans-serif;
	font-weight:700;
	position:absolute;
	bottom:-8px;
	margin:0;
	padding:0;
	left:0;
	text-shadow: 0 0 10px rgba(0,0,0,.5);
	color:white;
	text-transform: uppercase;
	width:100%;
	font-size: 92px;		
	line-height: 92px;
	max-width:100%;
}

.top {
	top: 0;
}

#shirt {
	float:right;
}
#attitude, #dayna, #bigShirt {
	width:100%;
	height:auto;
}
.container {
	max-width:970px;
}
#quick {
	text-align:center;
}
#quick a img {
	border: #dddddf solid 0px;
	-webkit-transition: border-width .3s; /* Safari */
    transition: border-width .3s;
}
#quick a img:hover {
	border-width: 4px;
}
#sharer{
	text-align:left;
}
#bigShirtCont {
	text-align:center;
}
.noTop {
	margin-top:0;
}
